{% extends 'auth.html.twig' %}

{% block title %}Восстановление пароля{% endblock %}

{% block body %}
    <div class="auth-page">
        <div class="container-fluid p-0">
            <div class="row g-0 login-page">
                <div class="col-xxl-3 col-lg-4 col-md-5">
                    <div class="auth-full-page-content d-flex p-sm-5 p-4">
                        <div class="w-100">
                            <div class="d-flex flex-column h-100">
                                <div class="auth-content my-auto">
                                    <div class="text-center">
                                        <h5 class="mb-0">Сброс пароля</h5>
                                    </div>
                                    <div class="alert alert-success text-center mb-4 mt-4 pt-2" role="alert">
                                        Введите свой Email и инструкции будут отправлены вам!
                                    </div>
                                    <form class="custom-form mt-4" action="">
                                        <div class="mb-3">
                                            <label class="form-label">E-mail</label>
                                            <input type="email" required class="form-control" id="email" placeholder="example@mail.ru">
                                        </div>
                                        <div class="mb-3 mt-4">
                                            <button class="btn btn-primary w-100 waves-effect waves-light" type="submit">Сбросить</button>
                                        </div>
                                    </form>

                                    <div class="mt-5 text-center">
                                        <p class="text-muted mb-0">Вспомнили пароль ?  <a href="{{ path('app_login') }}" class="text-primary fw-semibold"> Войти </a> </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end auth full page content -->
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container fluid -->
    </div>
{% endblock %}
